<html>
   {% include 'basic.html' %}
   {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  
<body>
 <section>
 </section>   

<section class="header4 cid-s4WaxXGeCz mbr-parallax-background" id="header4-4" style="z-index: 0; background-image: none; position: relative;">

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="media-content col-md-10">
                <h1 class="mbr-section-title align-center mbr-white pb-3 mbr-bold mbr-fonts-style display-1">bidones villadiego</h1>
                
                <div class="mbr-text align-center mbr-white pb-3"  style="color: white;">
                    <p class="mbr-text mbr-fonts-style display-4">
                        Bienvenido a la página de la colección de bidones de José Ignacio Valle.<br><br>
                    </p>
                    
                </div>
                <div class="mbr-section-btn align-center"><a class="btn btn-md btn-primary display-4" href="/admin/login/?next=Invitado">Entrar como invitado</a>
                    <a class="btn btn-md btn-white-outline display-4" href="/admin/login/?next=/admin/">Iniciar Sesión</a></div>
            </div>
            
        </div>
    </div>
<div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;"> 
<div style="background-position: 0% 0%; backgound-color:;opacity:0.4; background-size: cover; background-repeat: no-repeat; background-image: url(&quot;{% static 'assets/images/salidavueltaciclistaespaa-972x698.jpg' %}&quot;); position: fixed;  width: 100%; height: 100%;  ">
</div>

</div>
<div class="mbr-figure pt-5">
    <img src="{% static 'assets/images/ignaciolumen3-350x503.jpg' %}" align='right' alt="Jose Ingacio Valle"  title="" style="width:25%; border-radius: 50%";>
</div>
</section>


  <script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/popper/popper.min.js' %}"></script>
  <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'assets/dropdown/js/nav-dropdown.js' %}"></script>
  <script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
  <script src="{% static 'assets/touchswipe/jquery.touch-swipe.min.js' %}"></script>
  <script src="{% static 'assets/parallax/jarallax.min.js' %}"></script>
  <script src="{% static 'assets/theme/js/script.js' %}"></script>
  
  

</body>

</html>