{% extends "base.html" %}

{% load static %}

{% block content %}
      <div class="form-group-row col-sm-12">
       <h1  style="color: white;">Contáctame</h1>

{% comment %}           {% if error_message %}
          <div >
            {{error_message}}
          </div>
          {% endif %} {% endcomment %}

       {% if form.errors %}
        <p style='color:red;'> Por favor revisa este campo</p>
       {% endif %}

   {% comment %}    {% if email_form %} {% endcomment %}
       <form method="POST" action="" enctype='multipart/form-data'> {% csrf_token %}
      
       <table  style="color: white; width:100%"> 
        {{ form.as_table}}
       </table>
    
       <input type="submit" value="Enviar">
       
             
       </form>
{% comment %}        {% endif %} {% endcomment %}
       </div>
       <div>
       <p style="color: white"> Puede enviar un archivo adjunto del bidón o bidones que usted me ofrece</p>
{% endblock %}