{% extends "base.html" %}

{% load static %}

{% block content %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/principal.jpg' %}" alt="José ignacio" >
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Intercambio</span>
            <span class="section-heading-lower">Nuestra afición</span>
          </h2>
          <p class="mb-3">Si quieres intercambiar bidones mándame un correo desde CONTACTO o desde LISTAR BIDONES.      </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Nuestra afición es nuestra garantía</span>
              </h2>
              <p class="mb-0">Siempre aficionado al ciclismo he ido recopilando bidones poco a poco. Cuento con una colección de unos 4.000 bidones y estoy interesado en el intercambio de los mismos.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
   